
<!DOCTYPE html> {% extends "landlord_admin_base.html" %}{% block title %}Get started{%
    endblock %} {% block content %}
      <h1 class="text-3xl text-primary text-center mb-6">Hello Landlord!</h1>
 <p class="text-lg ml-2 mb-2 mt-5">Start posting depositless rentals!</p>
      <div class="card card-compact w-80 bg-300 border shadow-2xl">
      <ul class="steps steps-vertical ml-4">
        <li class="step step-primary"><a class="underline underline-offset-1" href="/addlisting">Add a new listings</a></li>
      </ul>
    </div>
    
        {% endblock content %}
    </div>